.main-container{
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right, rgb(15, 15, 59), rgb(97, 39, 97));
  padding: 10px 10px;
  background-size: cover;
  overflow-y: scroll;
}

