.container{
  background-color: azure;
  border-radius: 10px;
  margin-top:40px;
  max-width:300px;
  height: 500px;
}
h2{
  color: dodgerblue;
  text-align: center;
  padding-top: 4px;
}
i{
  background-color: dodgerblue;
  color: white;
}
input, label{
  padding: 4px;
}
