<div style="display: flex; justify-content: space-between;padding: 10px;">
  <h4>Country Table</h4>
  <button type="button" class="btn btn-primary" (click)="openAddModal()">Add</button>
</div>
<div style="padding: 10px;">
  <p-table #ct [value]="tableData" sortMode="multiple" [paginator]="true" [rows]="2" styleClass="p-datatable-gridlines"
    [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th pSortableColumn="countryName" style="width: 33%;">Country Name <p-sortIcon field="countryName"></p-sortIcon>
        </th>
        <th pSortableColumn="description" style="width: 33%;">Description<p-sortIcon field="description"></p-sortIcon>
        </th>
        <th style="width: 33%;">Actions</th>
      </tr>
      <tr>
        <th>
          <p-columnFilter type="text" field="name" formControlName="name" id="name"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="description"></p-columnFilter>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-country>
      <tr>
        <td>{{country.name}}</td>
        <td>{{country.description}}</td>
        <td>
          <i class="pi pi-eye" style="color: dodgerblue;padding: 8px;" (click)="ViewCountry(country)"></i>
          <i class="pi pi-pencil" style="color:green;padding: 8px;" (click)="openEditModal(country)"></i>
          <i class="pi pi-trash" style="color: red;padding: 8px;" (click)="DeleteCountry(country)"></i>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div class="modal" tabindex="-1" *ngIf="isAddModalOpen" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add new country</h4>
        <button type="text" class="btn-close" data-bs-dismiss="modal" (click)="closeAddModal()"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="addCountryName">Country Name</label>
          <input type="text" class="form-control" id="addCountryName" [(ngModel)]="addCountry.name">
        </div>
        <div class="form-group">
          <label for="addCountryDescription">Description</label>
          <input type="text" class="form-control" id="addCountryDescription" [(ngModel)]="addCountry.description">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeAddModal()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="addNewCountry()">Add</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" *ngIf="isViewModalOpen" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Country Details</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="closeViewModal()"></button>
      </div>
      <div class="modal-body">
        <p><strong>Country Name: </strong>{{selectedCountry?.name}}</p>
        <p><strong>Description: </strong>{{selectedCountry?.description}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeViewModal()">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" *ngIf="isDeleteCountryModalOpen" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete This Record</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeDeleteModal()"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this country?</p>
        <p><strong>Country Name: </strong>{{selectedCountry?.name}}</p>
        <p><strong>Description: </strong>{{selectedCountry?.description}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeDeleteModal()">No</button>
        <button type="button" class="btn btn-primary" (click)="deleteCountry()">Yes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" *ngIf="isEditModalOpen" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit The Country Details</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeEditModal()"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editForm" (ngSubmit)="saveEditedCountry()">
          <div class="form-group">
            <label for="editCountryName">Country Name</label>
            <input type="text" class="form-control" id="editCountryName" formControlName="editCountryName" required>
            <div
              *ngIf="editForm.get('editCountryName').invalid && (editForm.get('editCountryName').dirty || editForm.get('editCountryName').touched)"
              class="text-danger">
              Country Name is required.
            </div>
          </div>
          <div clas="form-group">
            <label for="editCountryDescription">Description</label>
            <input type="text" formControlName="editCountryDescription" id="editCountryDescription" class="form-control"
              required>
            <div
              *ngIf="editForm.get('editCountryDescription').invalid && (editForm.get('editCountryDescription').dirty || editForm.get('editCountryDescription').touched)"
              class="text-danger">
              Description is required.
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeEditModal()">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="saveEditedCountry()"
              [disabled]="!editForm.valid">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>