<div style="display: block;">
  <app-side-navigation></app-side-navigation>
  <div class="top-navigation">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" routerLink="personal">Personal Details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="language">Language</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="skills">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="education">Education</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="family">Family</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="accomodation">Accomodation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="work">Work Experience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="salary">Salary</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="summary">Summary/Upload</a>
      </li>
    </ul>
  </div>
  <div style="margin-left: 140px; background-color: azure;">
    <router-outlet></router-outlet>
  </div>
</div>